/* switch the default font for the body, and remove top/bottom/left/right margin */
body {
    font-family: 'Fresca', sans-serif;
    margin: 0;
}

/* Make the button for adding a message hover in the top right */
#showFormButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* make the form elements wide, and force a line break after each */
input, label, textarea {
    display: block;
    width: 200px;
}

/* put some space between textareas and the buttons that follow them */
textarea {
    margin-bottom: 5px;
}

/* put some left space before form elements */
label, input, textarea, #addButton, #editButton {
    margin-left: 15px;
}

/* custom formatting for the span where we put the creation date */
#editCreated {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
}
